<a href="https://colab.research.google.com/github/VikaSvyat/DI_Bootcamp/blob/main/Importing_Exporting_ExercisesXP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Exercise 1

 A company’s financial reports stored in an Excel file - structured data

Photographs uploaded to a social media platform - unstructured data

A collection of news articles on a website - unstructured data

Inventory data in a relational database - structured data

Recorded interviews from a market research study - unstructured data

Exercise 2

A series of blog posts about travel experiences - we should determine the key information in the blog, such as country, city, hotel name, travel period, transport type, etc., and for each category, find useful information and save it as partly structured data.

Audio recordings of customer service calls - they have been saved with information on the date and time of the call, the employee's name who took the call, the customer's name, and the main reason of the call. Also, processing time,  cause of occurrence, and the actions taken.

Handwritten notes from a brainstorming session - date and theme of the brainstorming, who took part, and a photo of the handwritten notes.

A video tutorial on cooking - we should save the name of the author and date, the recipe name, if possible. If possible to determine the ingredients that are used in the video, save them as accompanied of the video

In [ ]:
#Exercise 3
from google.colab import files
files.upload()

In [3]:
!ls
!unzip train.zip

sample_data  train.zip
Archive:  train.zip
  inflating: train.csv

In [7]:

import pandas as pd
df = pd.read_csv('train.csv')
df.head()
#df.shape

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.to_excel('train.xlsx', sheet_name='Sheet1')

In [12]:
!ls -d "$PWD"/*

/content/sample_data  /content/train.xlsx
/content/train.csv    /content/train.zip

In [13]:
df = pd.read_excel('/content/train.xlsx')
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
from IPython.display import display
display(df)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#Exercise 4
iris_data = pd.read_csv('iris.data', header=None)
print(iris_data.head())

In [17]:
#Exercise 5
   # Create a DataFrame
df = pd.DataFrame({
       'Column1': [1, 2, 3, 4, 5],
       'Column2': ['A', 'B', 'C', 'D', 'E'],
       'Column3': [True, False, True, False, True]
   })

   # Export to CSV
df.to_csv('my_dataframe.csv', index=False)

   # Export to JSON
df.to_json('my_dataframe.json')

In [18]:
json_data = pd.read_json('my_dataframe.json')
print(json_data.head())

   Column1 Column2  Column3
0        1       A     True
1        2       B    False
2        3       C     True
3        4       D    False
4        5       E     True

In [24]:
#Exercise 6
!unzip posts.zip

Archive:  posts.zip
  inflating: posts.json

In [25]:
json_data = pd.read_json('posts.json')
print(json_data.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...